<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>big_bomb1.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>439</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>big_bomb2.png</key>
		<dict>
			<key>x</key>
			<integer>490</integer>
			<key>y</key>
			<integer>296</integer>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>69</integer>
		</dict>
		<key>big_bomb3.png</key>
		<dict>
			<key>x</key>
			<integer>489</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>114</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>big_bomb4.png</key>
		<dict>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>124</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>big_bomb5.png</key>
		<dict>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>332</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>big_bomb6.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>84</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>big_bomb7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>140</integer>
		</dict>
		<key>big_bomb8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>405</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>58</integer>
			<key>originalHeight</key>
			<integer>71</integer>
		</dict>
		<key>little_bomb1.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>290</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>little_bomb2.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>little_bomb3.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>133</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>98</integer>
			<key>originalHeight</key>
			<integer>147</integer>
		</dict>
		<key>little_bomb4.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>little_bomb5.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>142</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>154</integer>
		</dict>
		<key>little_bomb6.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>316</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>65</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>little_bomb7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>109</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>109</integer>
		</dict>
		<key>littleBombBody.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>235</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>littleBombFire1.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>littleBombFire2.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>littleBombFire3.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>113</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>rocketFire3.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>223</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>107</integer>
		</dict>
		<key>rocketBody.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>rocketFire1.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>331</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>107</integer>
		</dict>
		<key>rocketFire2.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>107</integer>
		</dict>
		<key>airplane.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>propeller1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>propeller2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>103</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>propeller3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>airSmoking4.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>139</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>airSmoking1.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>40</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>139</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>airSmoking2.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>139</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>airSmoking3.png</key>
		<dict>
			<key>x</key>
			<integer>604</integer>
			<key>y</key>
			<integer>473</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>139</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>straight1.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>58</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>straight2.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>297</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>97</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>straight3.png</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>143</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>103</integer>
			<key>originalHeight</key>
			<integer>143</integer>
		</dict>
		<key>straight4.png</key>
		<dict>
			<key>x</key>
			<integer>489</integer>
			<key>y</key>
			<integer>127</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>114</integer>
			<key>originalHeight</key>
			<integer>168</integer>
		</dict>
		<key>straight5.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>142</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>189</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>190</integer>
		</dict>
		<key>card_airplane.png</key>
		<dict>
			<key>x</key>
			<integer>489</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>card_bomb.png</key>
		<dict>
			<key>x</key>
			<integer>387</integer>
			<key>y</key>
			<integer>407</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>card_linkpair.png</key>
		<dict>
			<key>x</key>
			<integer>489</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>card_rocket.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>344</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>card_straight.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>62</integer>
		</dict>
		<key>linkPair5.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>118</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>26</integer>
		</dict>
		<key>linkPair1.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
		<key>linkPair2.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>317</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>linkPair3.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>281</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>linkPair4.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>414</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>19</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>