<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiangzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,55},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>xiangzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>xiangzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>xiangzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_jewerlry_box.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef01548667b63413016d6a49b8744e6a$</string>
            <key>textureFileName</key>
            <string>common_jewerlry_box.png</string>
        </dict>
    </dict>
</plist>
