<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,664},{86,42}}</string>
                <key>offset</key>
                <string>{-39,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,65},{86,42}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{158,44}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,37},{158,44}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,664},{294,120}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,3},{294,120}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{304,116}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{304,116}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,44},{322,134}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,17},{322,134}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{330,110}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,60},{330,110}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,562},{306,78}}</string>
                <key>offset</key>
                <string>{30,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,92},{306,78}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{312,58}}</string>
                <key>offset</key>
                <string>{27,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,112},{312,58}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,602},{206,62}}</string>
                <key>offset</key>
                <string>{-17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{206,62}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{264,90}}</string>
                <key>offset</key>
                <string>{-23,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,32},{264,90}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,438},{310,124}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,35},{310,124}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,366},{236,168}}</string>
                <key>offset</key>
                <string>{37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,28},{236,168}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,706},{284,68}}</string>
                <key>offset</key>
                <string>{29,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,31},{284,68}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{328,82}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{328,82}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{322,66}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{322,66}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,122}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{346,122}}</string>
                <key>sourceSize</key>
                <string>{380,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settle_win_bean.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e532d8b19e0ef234dd244476e935e325$</string>
            <key>textureFileName</key>
            <string>settle_win_bean.png</string>
        </dict>
    </dict>
</plist>
